# This is the first part of the week 1 assignment: here I will extract the data of Toronto neighborhoods from wikipedia and clean them

first, import the libraries

In [86]:
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import numpy as np 
import pandas as pd

Now we have to scrap (download) the data from the internet

In [89]:
url = "https://www.zipcodesonline.com/2020/06/postal-code-of-toronto-in-2020.html"
data = requests.get(url).text
soup = BeautifulSoup(data, 'html5lib')

In [101]:
tables = soup.find_all('table')

In [115]:
toronto_data_1 = pd.DataFrame(columns=["no","PostalCode","Borough","Neighbourhood"])

for row in tables[1].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        sl_no = col[0].text
        neighbourhood = col[1].text
        postalcode = col[2].text
        district = col[3].text
        toronto_data_1 = toronto_data_1.append({"no":sl_no, "PostalCode":postalcode, "Borough":district, "Neighbourhood":neighbourhood}, ignore_index=True)

Let's check the first 10 rows

In [116]:
toronto_data_1.head(10)

,no,PostalCode,Borough,Neighbourhood
0,\n \nSL. NO. \n,\n \nPOSTAL CODES\n,\n \nDISTRICT\n,\n \nNEIGHBOURHOOD\n
1,,,,
2,\n \n1\n,\n \nM5H\n,\n \nDowntown Toronto\n,\n \n Adelaide\n
3,\n \n2\n,\n \nM1V \n,\n \nScarborough \n,\n \nAgincourt North\n
4,\n \n3\n,\n \nM1S \n,\n \nScarborough\n,\n \nAgincourt\n
5,\n \n4\n,\n \nM9V \n,\n \nEtobicoke\n,\n \nAlbion Gardens\n
6,\n \n5\n,\n \nM8W \n,\n \nEtobicoke\n,\n \nAlderwood\n
7,\n \n6\n,\n \nM3H\n,\n \nNorth York\n,\n \nBathurst Manor\n
8,\n \n7\n,\n \nM5V\n,\n \nDowntown Toronto\n,\n \nBathurst Quay \n
9,\n \n8\n,\n \nM2K\n,\n \nNorth York\n,\n \nBayview Village\n

Now we have to remove the first and the second row

In [117]:
df = toronto_data_1.iloc[2:,:]
df.reset_index(drop=True, inplace=True)
df.head()

          no    PostalCode                   Borough            Neighbourhood
0  \n  \n1\n   \n  \nM5H\n  \n  \nDowntown Toronto\n        \n  \n Adelaide\n
1  \n  \n2\n  \n  \nM1V \n      \n  \nScarborough \n  \n  \nAgincourt North\n
2  \n  \n3\n  \n  \nM1S \n       \n  \nScarborough\n        \n  \nAgincourt\n
3  \n  \n4\n  \n  \nM9V \n         \n  \nEtobicoke\n   \n  \nAlbion Gardens\n
4  \n  \n5\n  \n  \nM8W \n         \n  \nEtobicoke\n        \n  \nAlderwood\n

Now we have to eliminate "\n" disturbing characthers

In [118]:
df = df.replace(('\n'),'', regex=True)
df

        no PostalCode             Borough         Neighbourhood
0        1        M5H    Downtown Toronto              Adelaide
1        2       M1V         Scarborough        Agincourt North
2        3       M1S          Scarborough             Agincourt
3        4       M9V            Etobicoke        Albion Gardens
4        5       M8W            Etobicoke             Alderwood
..     ...        ...                 ...                   ...
200    201        M4B           East York    Woodbine Gardens,
201    202        M4C           East York      Woodbine Heights
202    203       M2P           North York      York Mills West
203    204        M2L          North York            York Mills
204    205       M5R      Central Toronto             Yorkville

[205 rows x 4 columns]

Then, eliminate the column "no"

In [119]:
df.drop(columns=['no'],inplace=True)
df.head()

  PostalCode             Borough      Neighbourhood
0        M5H    Downtown Toronto           Adelaide
1       M1V         Scarborough     Agincourt North
2       M1S          Scarborough          Agincourt
3       M9V            Etobicoke     Albion Gardens
4       M8W            Etobicoke          Alderwood